### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.iml
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Other ###
*.pdf
*.doc
*.docx
*.ppt
*.pptx
!*.md
*.xlsx

doc/
docs/
!docs/*.png
!docs/*.jpg
!docs/*[Dd]esign*
!docs/*[Nn]guyen*
/.metadata/
